<section> 
    <div class="container"> 
        <div class="infoBox">
            <h3><span>My github page</span></h3>
            <p><b>Name</b> : {{ user.login }}</p>
            <p><b>Id</b> : {{ user.id }}</p>
            <p><b>Number of public repos</b> : {{ user.public_repos }}</p>
            <p><b>Followers</b> : {{user.followers}}</p>
            <p><b>Link to profile</b> : <a href="{{ user.html_url }}">{{ user.html_url }}</a></p>
        </div>     
        <div class="infoBox">
            <div class="text">
            My name is Dana and I'm 18 years old. I'm still getting my degree in Software Engineering at Oil and Gas University. 
            Most of the time I spend on the Internet reading webcomics or listening to post-rock.
            </div>
        </div>
    </div>
</section>