<section> 
    <div class="container">
        <div class="image">
       <img src="../../../assets/images/55615157.png" class="image" alt="profile photo">
       </div>
   <div class="infoBox">
       <div class="text">
           Hello, I'm Dana.<br/>
           And I have yet to become a web developer.
       </div>
       <a [routerLink]="['/about']" class="btn">
        <span>Get to know me</span>
        <svg width="13px" height="10px" viewBox="0 0 13 10">
          <path d="M1,5 L11,5"></path>
          <polyline points="8 1 12 5 8 9"></polyline>
        </svg></a>
    </div>
   </div>
</section>