<section> 
    <div class="container">
        
   <div class="infoBox">
       <div class="text">
        <h3>Education:</h3>
        <ul>
            <li>Bachelor of Science: Software Engineering atIFNTUOG, Ivano-Frankivsk,
             2018 – 2022</li>
          </ul>
          <h3>Additional education:</h3>
          <ul>
           <li>Softserve IT Academy course - HTML5/CSS3/JAVASCRIPT FUNDAMENTALS - March 2020</li>
           <li>Softserve IT Academy course - WEB UI - In progress</li>
         </ul>
       </div>
      
    </div>
   </div>
</section>